VITE_SUPABASE_URL=https://giptywdycodkzxixwpby.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdpcHR5d2R5Y29ka3p4aXh3cGJ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIyMTUyNzgsImV4cCI6MjA4Nzc5MTI3OH0.Q4DVYd96W-yRi0OZNfpYMFenQCZBtGpHIsWer5ea2V8